* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    background-color: blue;
    border: 2px dashed yellow;
    height: 20rem;
    width: 20rem;
}